<main>
    <div class="HomeGallery">
        <h1>Linear</h1>
        <p>By Messi</p>
    </div>
    <h1 class="HomeTitle">Welcome to Messi's home</h1>
    <p class="HomeContent">青春是一段美丽的故事，青春是一首动人的旋律，青春是一首感人的诗篇。</p>
    <p class="HomeContent">正处于花季的我们正处于一个激情燃烧的时代。在这一段时光里，我们是最活泼的，也是最好动的。我们会彼此走到一起，不在乎身份的差异，因为在校园里，我们都只是一个个普通的学生。我们彼此一起把各自的快乐共同分享，把烦恼一起分担。我们之间没有隔阂，所以我们可以肆意地胡天乱侃，从天南到地北，只要是我们感兴趣的都会成为我们讨论的对象，就算我们无意间伤害了彼此也从不计较……</p>
    <p class="HomeContent">青春是我们积累自己，丰富自己的最佳时机。我们正处于精力最旺盛的时代，也是我们学习奋斗的最佳时机。我们在一起可以彼此激励，一起努力向前冲刺，一起为自身的目标而努力。因为彼此间的不服气，一心想超越别人，所以我们也就有了前进、拼搏的动力，才会在课堂上认真听老师讲课，认真记笔记;在课间，一有不懂的问题就找老师或伙伴去问。有时我们考试考差了，会彼此安慰，同时也会去找自己的问题所在，并勉励自己下次不要再粗心，犯同样的毛病…</p>
    <p class="HomeContent">青春是一段令人难以忘怀的时光，带给我们太多太多美好的回忆。这回忆中有我们欢笑的背影，也有我们面对挫折时的举足无措，也有我们辛勤挥洒的汗水。从军训开始，我们相见，那时的我们还有一丝丝不熟悉，有些陌生，但军训结束后，我们俨然已成了一个大家庭，彼此相互关爱，团结一心。一年多了，我们越来越熟悉，彼此间的亲情也越来越浓厚，期间也发生过许多诸如运动会一样让我们难以忘怀的事情，真希望我们永远不分开……</p>
    <p class="HomeContent">青春，一个多么令人神往、让人难忘的世界，五彩斑斓。我们一定要把握好自己的青春，莫要白了少年头，空悲切!同学们，青春无悔，让我们一起书写青春吧!</p>


</main>
